page-control {

    .boton{
        background: #fff;
        padding: 1px;
    }
    .bot{
        background: lightgray;
        text-align: center;
        height: 50px;
        padding: 10px;
        /* font-weight: bold; */
        font-size: 20px;
    }
    .icon{
        font-size:26px;
    }
    .green{
        color: rgba(0, 128, 0, 0.705);
    }
    .myInput{
        border-bottom: darkgrey 1px solid;
        width: 90%;
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 15px;
    }
    .myInputText{
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 15px;
    }
    .inputActive{
        visibility: hidden;
        //cursor: text;
    }
    .cursor{
        text-decoration: blink;
    }
}
