<!--
  Generated template for the ControlPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
         <button menuToggle>
      <ion-icon name='menu'></ion-icon>
</button>
    <ion-title class="titulo">
      <div style="float:left">{{ nombre }}</div>
    <div style="float:right"> <img src="assets/img/logo.png" height="25px" /> </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
   <ion-card>
     <ion-card-title>
       <strong>{{nombre}} {{pla}}</strong>
     </ion-card-title>
    <ion-card-content>
       <!-- <ion-item>
        <ion-label floating>{{"valor" | translate}}</ion-label>

        <ion-input *ngIf="teclado != 'text'" type="number" step="0.01"  [(ngModel)]="valor"></ion-input>
        <ion-input *ngIf="teclado == 'text'" type="text" step="0.01"  [(ngModel)]="valor"></ion-input>
        
      </ion-item> -->


    <!-- INPUT PERSONALIZADO -->

    <div (click)="teclado=true">
      <div  class="myInputText" (click)="valorTextActive=true" *ngIf="valorText.length==0">
        <span [ngClass]="{'inputActive':!valorTextActive}" class="cursor">|</span>
        <span [ngClass]="{'inputActive':valorTextActive}">{{"valor" | translate}}</span>
      </div>
    <div class="myInput">{{valorText}}</div>
    </div>
    
<hr>
<ion-grid *ngIf="teclado">
<ion-row>
<ion-col class="boton">
 <div class="bot" (click)="setValue(1)">1</div>
</ion-col>
<ion-col class="boton">
  <div class="bot" (click)="setValue(2)">2</div>
</ion-col>
<ion-col class="boton">
  <div class="bot" (click)="setValue(3)">3</div>
</ion-col>
<ion-col class="boton">
  <div class="bot" (click)="setValue('del')"><ion-icon class="icon" name="backspace"></ion-icon></div>
</ion-col>
</ion-row>

<ion-row>
  <ion-col class="boton">
    <div class="bot" (click)="setValue(4)">4</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot" (click)="setValue(5)">5</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot" (click)="setValue(6)">6</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot"></div>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col class="boton">
    <div class="bot" (click)="setValue(7)">7</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot" (click)="setValue(8)">8</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot" (click)="setValue(9)">9</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot"></div>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col class="boton">
    <div class="bot" (click)="setValue('-')">-</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot" (click)="setValue(0)">0</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot" (click)="setValue('.')">.</div>
  </ion-col>
  <ion-col class="boton">
    <div class="bot" (click)="teclado=false"><ion-icon  class="icon green" name="checkmark-circle"></ion-icon></div>
  </ion-col>
</ion-row>
</ion-grid>


    <!-- FIN INPUT PERSONALIZADO -->
      <hr>   
<button ion-button (click)="takeFoto()" twitter style="width: 30%;">{{"foto" | translate}}</button> 
<button ion-button (click)="terminar(idcontrol)" [disabled]="desactivado" twitter style="width: 30%;">{{"terminar" | translate}}</button> 
<button [disabled]="hayIncidenciaAd>0" ion-button color="danger" (click)="nuevaIncidencia()" twitter style="width: 30%;">{{"incidencia" | translate}}</button> 
 
<img [src]="base64Image" *ngIf="base64Image" />
</ion-card-content>
  </ion-card>
  <ion-footer *ngIf="hayRetraso>0" style="padding:15px; background-color:#ccc">
    <span ><b>
    {{'hay' | translate}} {{hayRetraso}} {{'eventosPendientes' | translate}} {{fecha_prevista | date:'dd-MM-yyyy'}}, {{'autocompletar' | translate}} 
    </b></span> 
    <ion-item style="background-color:#eee">
        <ion-label><b>completar</b></ion-label>
    <ion-toggle [(ngModel)]="autocompletar"></ion-toggle>
    </ion-item>
  </ion-footer>
</ion-content>