page-home {
img.center{
    display:block;
    margin:0 auto;
}
logo{
    max-height: 85px;
    max-width: 250px;    
}

.onDate{
    color: green;
  }
  .beforeOnDate{
      color:red;
  }
  .porUso{
      color: blue !important;
  }
  
}
