<!--
  Generated template for the CheckPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
         <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
</button>
    <ion-title class="titulo">
      <div style="float:left">{{ nombrechecklist }}</div>
    <div style="float:right"> <img src="assets/img/logo.png" height="25px" /> </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item *ngFor="let control of checklistcontroles">
  <ion-icon *ngIf="control.foto" name="camera" item-left></ion-icon>
  <ion-icon *ngIf="control.descripcion" name="clipboard" item-left></ion-icon>
  <ion-label (click)="opciones(control)">{{control.nombrecontrol}}</ion-label>

  <ion-label *ngIf="control.valor">valor:{{control.valor}}</ion-label>
  <ion-icon (click)="opciones(control)" *ngIf="control.checked=='true'" name="checkmark-circle" item-right></ion-icon>
  <ion-icon (click)="opciones(control)" *ngIf="control.checked=='false'" name="close-circle" item-right></ion-icon>
  <ion-icon (click)="opciones(control)" *ngIf="control.checked=='na'" name="help-circle" item-right></ion-icon>
  <ion-icon (click)="opciones(control)" *ngIf="control.valor" name="information-circle" item-right></ion-icon>
  <ion-icon (click)="opciones(control)" *ngIf="control.checked==''" name="add-circle" item-right></ion-icon>
  </ion-item>

<button ion-button (click)="takeFoto()" twitter style="width: 30%;">{{"foto" | translate}}</button> 
<button ion-button (click)="terminar()" twitter style="width: 30%;">{{"terminar" | translate}}</button> 
<button ion-button [disabled]="hayIncidencia>0" color="danger" (click)="nuevaIncidencia()" twitter style="width: 30%;">{{"incidencia" | translate}}</button> 

   <ion-card>
     <ion-card-title>
     </ion-card-title>
    <ion-card-content *ngIf="base64Image" >
      <img [src]="base64Image" *ngIf="base64Image" />
</ion-card-content>
  </ion-card>
  <div style="height:100px"></div>

  <ion-footer *ngIf="hayRetraso>0" style="padding:15px; background-color:#ccc">
    <span ><b>
    {{'hay' | translate}} {{hayRetraso}} {{'eventosPendientes' | translate}} {{fecha_prevista | date:'dd-MM-yyyy'}}, {{'autocompletar' | translate}} 
    </b></span> 
    <ion-item style="background-color:#eee">
        <ion-label><b>completar</b></ion-label>
    <ion-toggle [(ngModel)]="autocompletar"></ion-toggle>
    </ion-item>
  </ion-footer>
</ion-content>
